@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --primary-color: #ffa62b;
  --secondary-color-1: #00a1c1;
  --text-color: #252b42;
  --second-text-color: #737373;
  --success-text-color: #2dc071;
  --danger-color: #e74040;
  --muted-color: #bdbdbd;
  --disabled-element-color: #8ec2f2;
  --light-gray-1: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Spectral", serif;
}
/* Header top */
.header-top {
  padding: 1rem 5%;
  background: #00a1c1;
  color: #ffffff;
  display: none;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  gap: 1rem;
}
.header-contact,
.header-contact > div,
.header-links,
.links-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-contact > div {
  gap: 0.5rem;
}
.header-links,
.links-container {
  gap: 1rem;
  cursor: pointer;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
nav > h3 {
  color: var(--text-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
svg {
  width: 24px;
  height: 24px;
}
.mobile-path > g > path {
  fill: var(--text-color);
}
.nav-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 2.5rem 1.5rem;
  transform: translateX(-100%);
  transition: 0.3s all ease-out;
  background-color: #fff;
}
.openMenu {
  transform: translateX(0);
}
.nav-menu > li {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-menu > li > a {
  color: var(--second-text-color);
}
.nav-menu > .active-page > a {
  color: var(--text-color);
}
.nav-menu > .active-page > img {
  display: none;
}
.basket,
.favorite {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: var(--primary-color);
}
.favorite,
.login-register {
  display: none;
}

.count {
  display: none;
  font-size: 12px;
}

/* Hero section */
.hero {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}
.heroCard {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  background-position: center;
}
.heroCard:first-of-type {
  background-image: url(./images/card.jpg);
}
.heroCard:nth-of-type(2) {
  background-image: url(./images/card2.jpg);
}
.heroCard:nth-of-type(3) {
  background-image: url(./images/card3.jpg);
}
.heroCard:nth-of-type(4) {
  background-image: url(./images/card4.jpg);
}
.heroText {
  padding: 1.5rem;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.heroText > span {
  color: var(--success-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.heroText > h2 {
  color: var(--text-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
}
.heroText > span:nth-of-type(2) {
  color: var(--text-color);
}
/* Bestseller */
.bestsellers {
  margin: 4rem 0;
  padding: 0 1.5rem;
}
.featured-products {
  color: var(--second-text-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  display: none;
}
.section-title {
  color: var(--text-color);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
  margin: 0 auto 10px auto;
  max-width: 75%;
}
.section-description {
  color: var(--second-text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin: 0 auto 10px auto;
  max-width: 75%;
}
.product-container {
  padding: 1.5rem;
  margin: 1.5rem auto;
}
.product {
  text-align: center;
  margin-bottom: 1.875rem;
}
.product > img {
  width: 295px;
  height: 360px;
  max-width: 100%;
}
.product-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-title {
  color: var(--text-color);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.1px;
}
.product-category {
  color: var(--second-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}

.product-price {
  color: var(--muted-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.product-discount {
  margin-left: 5px;
  color: var(--secondary-color-1);
}
.loadProductsBtn {
  outline: none;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  padding: 1rem 2.5rem;
  display: block;
  cursor: pointer;
}
.loadProductsBtn:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Services */
.services {
  margin: 8rem 0;
}
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5rem;
  text-align: center;
  margin: 4rem auto;
}
.service {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
.service-title {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.1px;
  font-family: "Montserrat", sans-serif;
}
.service-text {
  color: var(--second-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}

/* Posts */

.posts {
  padding: 0 1.5rem;
  margin-bottom: 68px;
}
.posts-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.posts-text {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  text-align: center;
}
.posts-title {
  color: var(--text-color);
  font-size: 44px;
  font-weight: 800;
  line-height: 58px; /* 131.818% */
  letter-spacing: 0.2px;
  margin-bottom: 4rem;
  text-align: center;
}
.post {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.post > * {
  font-family: "Montserrat", sans-serif;
}
.post-cover {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 300px;
}
.post-cover {
  background-image: url(./images/post1.jpg);
}
.post-cover-2 {
  background-image: url(./images/post2.png);
}
.post-cover-3 {
  background-image: url(./images/post3.png);
}
.post-new {
  padding: 5px 10px;
  display: inline-block;
  margin-left: 1.4rem;
  margin-top: 1.4rem;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  border-radius: 3px;
  background: var(--danger-color);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.post-content {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tags {
  display: flex;
  gap: 1rem;
}
.tags > small {
  color: var(--second-text-color, #737373);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.2px;
}
.tags > small:first-of-type {
  color: var(--disabled-element-color);
}
.post-title {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}
.post-description {
  color: var(--second-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.post-details {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-details > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--second-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.2px;
}
.learn-more {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

/* Reviews */

.review {
  background: #fafafa;
  padding: 55px 28px 32.8px 28px;
  display: flex;
  gap: 19px;
  flex-direction: column;
}
.user-review {
  padding: 48px;
  text-align: center;
}
.review-heading {
  color: var(--text-color);
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 58px;
}
.user-img,
.rating,
.review-text {
  margin-bottom: 20px;
}
.review-text {
  color: var(--second-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.user-name {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.user-occupation {
  color: var(--text-color);

  font-family: " Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}
.review-images {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 14px;
  justify-items: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 48px;
}

/* User Ex */
.user-experience {
  padding: 112px 32px 90px 32px;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ux-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ux-content > h6 {
  color: var(--primary-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.ux-content > h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px; /* 131.818% */
  letter-spacing: 0.2px;
}
.ux-content > span {
  color: var(--secondary-color-1);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.ux-content > p {
  color: var(--second-text-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}
.ux-content > button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
  border-radius: 5px;
  background: var(--primary-color);
  border: none;
  outline: none;
  padding: 15px;
}

/* Footer */
.footer-heading {
  padding: 40px 24px;
  background: var(--light-gray-1);
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-logo {
  color: var(--text-color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
  letter-spacing: 0.1px;
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-menu {
  padding: 70px 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-menu > li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--second-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
}
.footer-menu > li:last-of-type {
  gap: 0;
}
.subscribeInfo {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  display: flex;
  overflow: hidden;
}
.subscribeInfo > input {
  padding: 15px 20px;
  flex: 2;
  background: #f9f9f9;
  border: none;
}
.subscribeInfo > input::placeholder {
  color: var(--second-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;
}

.subscribeInfo > button {
  padding: 15px;
  border-radius: 0px 5px 5px 0px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;

  outline: none;
  border: none;
}
.subscribeInfo > span {
  color: var(--second-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 233.333% */
  letter-spacing: 0.2px;
}

.list-header {
  margin-bottom: 10px;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.1px;
}
.footer-bottom {
  padding: 25px;
  background: var(--light-gray-1);
}
.footer-bottom > p {
  color: var(--second-text-color);
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
  max-width: 55%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* Header top */
  .header-top {
    display: flex;
  }
  /* Nav */
  nav {
    padding: 1.5rem 5%;
  }
  /* Hero section */
  .hero {
    padding: 0 5%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: minmax(0, 1.3fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    max-width: 90%;
  }
  .heroCard:first-of-type {
    grid-area: 1/1/3/2;
  }
  .heroCard:nth-of-type(2) {
    grid-area: 1/2/2/4;
  }
  .heroText {
    max-width: 90%;
  }

  /* Bestsellers */
  .bestsellers {
    margin: 6rem 0;
    padding: 0 5%;
  }
  .featured-products {
    display: block;
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    column-gap: 1rem;
  }
  .product > img {
    width: 183px;
    height: 238px;
  }
  /* Services */
  .service-container {
    flex-direction: row;
    max-width: 75%;

    align-items: flex-start;
    gap: 2.5rem;
  }
  .service {
    flex: 1;
  }

  /* Posts */
  .posts {
    margin-bottom: 188px;
  }
  .posts-container {
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
    gap: 10px;
  }

  /* User Ex */
  .ux-content {
    max-width: 45%;
    margin: 0 auto;
  }
  .ux-content > button {
    width: 60%;
    margin: 0 auto;
  }
  /* Footer */
  .footer-heading {
    padding: 40px 5%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-menu {
    padding: 70px 5%;

    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-bottom {
    padding: 25px 5%;
  }
  .footer-bottom > p {
    margin: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  /* Nav */
  nav {
    justify-content: flex-start;
  }
  .nav-menu > li {
    font-family: "Spectral", serif;
  }
  .logo {
    margin-right: 5rem;
  }
  .nav-menu {
    transform: translateX(0);
    flex-direction: row;
    position: static;
    padding: 0px;
    margin-right: auto;
  }

  .nav-menu > li {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
  .nav-menu > .active-page > img {
    display: block;
  }
  svg {
    width: 16px !important;
    height: 16px !important;
  }
  .mobile-path > g > path {
    fill: var(--primary-color);
  }
  .burger {
    display: none;
  }
  .login-register {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0 1.5rem;
  }
  .favorite {
    display: flex;
    align-items: flex-end;
  }
  .count {
    display: block;
  }

  /* Bestseller */
  .product-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    max-width: 82%;
    column-gap: 1.3rem;
  }

  /* Review */
  .review {
    flex-direction: row;
    background-color: #fff;
    max-width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
    justify-self: flex-start;
    margin-bottom: 60px;
  }
  .user-review {
    padding: 0;
  }
  .review-text {
    max-width: 80%;
    margin: 20px auto;
  }
  .review-images {
    margin-bottom: 0;
    max-height: 426px;
    overflow: hidden;
    gap: 15px;
    width: 35%;
  }
  .review-images > img {
    width: 100%;
  }
}
